@import "tailwindcss";

/* dark mode by using class */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* dark mode by using attribute */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    /* background on personal info */
    --color-card-100: rgb(247, 248, 250); /* light bg */
    --color-card-200: rgba(51, 71, 124, 0.1); /* light button bg */
    --color-card-300: #33477c; /* ligt text color */
    --color-card-400: #7099aa; /* dark text color */
    /* common colors for text */
    --color-word-100: rgb(85, 85, 85); /* light main text */
    --color-word-200: #333; /* light secondary text */
    --color-word-300: rgb(166, 173, 200); /* dark main text */
    --color-word-400: #949494; /* dark secondary text */
    --color-word-500: rgb(142 142 142); /* dark main text */
    /* hr line */
    --color-hr-100: rgb(246, 246, 246);
    --color-hr-200: rgb(43, 43, 43); /* dark hr line */
    /* common colors */
    --color-rua-gray-100: #aabfc5;
    --color-rua-gray-600: rgb(66, 66, 66);
    --color-rua-gray-700: hsl(220, 13%, 18%);
    --color-rua-gray-800: rgb(35, 38, 38);
    --color-rua-gray-900: #181e24;
}

/* global style */
html,
body {
    width: 100%;
    min-height: 100%;
}

html[data-theme="dark"],body[data-theme="dark"] {
    background-color: var(--color-rua-gray-900);
}

a {
    text-decoration: underline;
}

/* ul { */
/*     list-style: disc; */
/* } */
ul li {
    list-style-type: none;
}
ul li:before {
    content: "- ";
    margin-left: -1em;
}
